{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Are you sure you wanto to delete {{category.name}} and all of its items?</h1>
		</div>
	</div>
	<div class="row">
			<form action="#" method = "post" id='myForm'>
                <br/>
                <a href="javascript:void()"  class="button" onclick="document.getElementById('myForm').submit();">Confirm</a>
                <a href="{{url_for('showCategoryItems',category_id = category.id)}}" class="button">Cancel</a>
			</form>
		</div>
	</div>
{% endblock %}