{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Modify Item {{item.name}}</h1>
		</div>
	</div>
	<div class="row">
			<form action="#" method = "post" id='myForm'>
                <br/>
                <label for="name">Name:</label>
                <input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the product">
                <br/>
                <label for="description">Description:</label>
                <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the product"></textarea>
                <br/>
                <label for="price">Price:</label>
                <input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
                <br/>
                <a href="javascript:void()"  class="button" onclick="document.getElementById('myForm').submit();">Edit</a>
                <a href="{{url_for('showItem',category_id = category.id, item_id = item.id)}}" class="button">Cancel</a>
			</form>
		</div>
	</div>
{% endblock %}