<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Catalog App</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
	<div class="container">
			{% block content %}
			{% endblock %}
	</div>
</body>
</html>