{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Category</h1>
		</div>
	</div>
    </br>
	<div class="row">
		<form action="#" method = "post" id="myform">
			<div class="form-group">
                <span for="name">Name:</span>
                <input type ="text" class="form-control" maxlength="100" name="name">
                <a href="javascript:void()"  class="button" onclick="document.getElementById('myform').submit();">Create</a>
                <a href="{{url_for('showCategories')}}" class="button">Cancel</a>
            </div>
		</form>
	</div>
{% endblock %}
