{% extends "main.html" %}
{% block content %}

</div>
<div id="container">
    <header>
		<div class="width">
    		<h1>Catalog App</h1>
       	</div>
        <div class="row top-menu">
            <div class="col-md-6 text-right">
                        {%if 'username' not in session %}
                <a href="{{url_for('showLogin')}}">Click Here to Login </a>
                {% else %}
                <a href="{{url_for('disconnect')}}">Logout </a>
                {% endif %}    
            </div>
        </div>
    </header>
    <nav>
		<div class="width">
    		<ul>
        		<li class="start selected"><a href="{{url_for('showCategories')}}">Home</a></li>
        	</ul>
		</div>
    </nav>
	
    <div id="body" class="width">
		<section id="content">
			<article>
				<h2>Last Items added</h2>
                <br/>
                <div class = 'flash'>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}  
                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                <br/>
                {% endwith %}
                </br>
					{% for item in lastItems %}				
						<a href = "{{url_for('showItem',category_id = item.categories.id, item_id = item.id)}}">
							<div class="row">
                                <h3>{{item.name}} ({{item.categories.name}})</h3>
							</div>
						</a>
					{% endfor %}
				</br>
			</article>
		</section>
        
        <aside class="sidebar">
			
            <ul>	
               <li>
                    <h4>Categories</h4>
					</br>
					{% for category in categories %}				
						<a href = "{{url_for('showCategoryItems',category_id=category.id)}}">
							<div class="row">
                                <h3>{{category.name}}</h3>
							</div>
						</a>
					{% endfor %}
                </li>
                
            </ul>
			
        </aside>
    	<div class="clear"></div>
    </div>
	<footer>
    </footer>
</div>
{% endblock %}
